<style type="text/css">
    h1{
        color: crimson; /*CSS는 세미콜론으로 끝나야한다.*/
    }
    div{
        width: 600px; 
        height: 200px;
        background-color:aquamarine;
    }
strong{
    font-size: 20pt; /*글자 크기*/
}
</style>                                                                                                                                                                                                                                                                                                                                                                         